<template>
  <v-row class="no-gutters elevation-4">
    <v-col
      cols="auto"
      class="flex-grow-1 flex-shrink-0"
    >
      <v-responsive
        class="overflow-y-hidden fill-height"
        height="500"
      >
        <v-card
          flat
          class="d-flex flex-column fill-height"
        >
          <v-card-title>
            Общий чат
          </v-card-title>
          <v-card-text class="flex-grow-1 overflow-y-auto">
            <template v-for="(msg, i) in messages">
              <div :key="i" class="d-flex align-center mb-2" :class="{ 'flex-row-reverse': msg.me }">
                <v-menu offset-y>
                  <template v-slot:activator="{}">
                    <v-avatar :color="msg.me?'red':'blue'">
                      <span class="white--text headline">{{ msg.initials }}</span>
                    </v-avatar>
                    <v-chip
                      :color="msg.me ? 'primary' : ''"
                      style="height:auto;white-space: normal;"
                      class="pa-4 ml-2 mr-2"
                    >
                      <div style="max-width:250px;">
                        {{ msg.text }}
                      </div>
                      <sub
                        class="ml-2"
                        style="font-size: 0.5rem;"
                      >{{ formatDatetime(msg.created) }}</sub>
                    </v-chip>
                  </template>
                  <v-list>
                    <v-list-item>
                      <v-list-item-title>delete</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </div>
            </template>
          </v-card-text>
          <v-card-text class="flex-shrink-1">
            <v-text-field
              v-model="messageForm.content"
              label="Введите сообщение"
              type="text"
              no-details
              outlined
              hide-details
              append-outer-icon="send"
              @keyup.enter="sendMessage(messageForm.content)"
              @click:append-outer="sendMessage(messageForm.content)"
            />
          </v-card-text>
        </v-card>
      </v-responsive>
    </v-col>
  </v-row>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      webSocket: {},
      messageForm: {
        content: ''
      },
      messages: []
    }
  },
  created () {
    this.initWebsocket()
  },
  // такое форматирование просит eslint
  mounted () {
    this.setWebsocketOnMessageListener()
  },
  methods: {
    formatDatetime (datetime) {
      return new Date(datetime).toLocaleString()
    },
    sendMessage (text) {
      this.webSocket.send(JSON.stringify({
        text
      }))
      this.clearMessageForm()
    },
    clearMessageForm () {
      this.messageForm.content = ''
    },
    initWebsocket () {
      const url = process.env.BASE_WEBSOCKET_URL || 'ws://pm.tada.team'

      this.webSocket = new WebSocket(`${url}/ws?name=${this.name}`)
    },
    setWebsocketOnMessageListener () {
      this.webSocket.onmessage = (event) => {
        const data = JSON.parse(event.data)

        if (data.typing === true) {
          return
        }

        data.systemMessage = data.name === undefined
        data.me = this.me(data.name)
        data.initials = this.getInitials(data.name ? data.name : '')

        this.messages.push(data)
      }
    },
    me (name) {
      return this.name === name
    },
    getInitials (name) {
      let firstName = ''
      let lastName = '';

      [firstName, lastName] = name.split(' ')

      const firstLetter = firstName.slice(0, 1)
      const secondLetter = lastName ? lastName.slice(0, 1) : ''

      return firstLetter + ' ' + secondLetter
    }
  }
}
</script>
